body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
    background-image: url('9giSmSHhMcNKY1K5jL1vVkMJhps.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.quote-container {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    min-height: 250px; 
    background-color: rgba(255, 255, 255, 0.9); 
    transition: background-color 0.3s ease;
}

.quote-container:hover {
    background-color: rgba(255, 255, 255, 1);
}

.favorites-copied-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 30px;
    align-items: center;
}

.favorites-container {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    background-color: #fff;
    padding: 20px;
    width: 48%; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin: 20px; 
}

.copied-container {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    background-color: #fff;
    padding: 20px;
    width: 48%; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.favorite-quote, .copied-quote { 
    border-radius: 10px; 
    padding: 15px; 
    margin: 10px 20px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: transform 0.3s ease; 
}

.favorite-quote:hover, .copied-quote:hover {
    transform: scale(1.02); 
}

.quote {
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
    color: #333;
    min-height: 50px; 
    overflow: hidden; 
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s; 
}

.favorite-icon.favorited i {
    color: red;
}

.button-container {
    margin-top: 20px;
}

.btn {
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #a04545; 
}

.toggle-button {
    background-color: #8f3911;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    transition: background-color 0.3s ease; 
    margin: 20px 10px;
    height: 35px;
}

.toggle-button:hover {
    background-color: #ac4f24;
}

.message {
    margin-top: 15px;
}

.success {
    color: green;
}

.warning {
    color: red;
}

.remove-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: darkred;
}
